<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;" lay-direction="2">
        <i class="layui-icon layui-icon-user"></i>
        <cite class="font-color">人员管理</cite>
    </a>
    <dl class="layui-nav-child layui-nav-itemed">
        <dd data-name="content"><a href="javascript:;">内容系统</a></dd>
        <dd data-name="content"><a href="javascript:;">内容系统</a></dd>
        <dd data-name="content"><a href="javascript:;">内容系统</a></dd>
    </dl>
</li>
<li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;" lay-direction="2">
        <i class="layui-icon layui-icon-auz"></i>
        <cite class="font-color">权限管理 </cite>
    </a>
    <dl class="layui-nav-child layui-nav-itemed">
        <dd data-name="content"><a href="javascript:;">内容系统</a></dd>
        <dd data-name="content"><a href="javascript:;">内容系统</a>
            <dl class="layui-nav-child layui-nav-itemed">
                <dd data-name="content"><a href="javascript:;">内容系统</a></dd>
                <dd data-name="content"><a href="javascript:;">内容系统</a></dd>
            </dl>
        </dd>
    </dl>
</li>
<li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;" lay-direction="2">
        <i class="layui-icon layui-icon-read"></i>
        <cite class="font-color">班期管理</cite>
    </a>
    <dl class="layui-nav-child layui-nav-itemed">
        <dd data-name="content"><a href="javascript:;">内容系统</a></dd>
        <dd data-name="content"><a href="javascript:;">内容系统</a>
            <dl class="layui-nav-child layui-nav-itemed">
                <dd data-name="content"><a href="javascript:;">内容系统</a></dd>
                <dd data-name="content"><a href="javascript:;">内容系统</a></dd>
            </dl>
        </dd>
    </dl>
</li>
<li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;" lay-direction="2">
        <i class="layui-icon layui-icon-app"></i>
        <cite class="font-color">信息管理</cite>
    </a>
    <dl class="layui-nav-child layui-nav-itemed">
        <dd data-name="content"><a href="javascript:;">内容系统</a></dd>
        <dd data-name="content"><a href="javascript:;">内容系统</a></dd>
    </dl>
</li>
</body>
</html>