<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理员首页</title>
    <link rel="stylesheet" href="../../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../../static/layui/css/admin.css">
    <link rel="stylesheet" href="../../../static/css/admin/index.css">
    <script src="../../../static/js/jquery3.3.1.js"></script>
    <script src="../../../static/js/admin/index.js"></script>
    <style>
        #time {
            padding-right: 17px;
        }

        #time a {
            font-style: italic;
            font-size: 17px;
            font-weight: lighter;
            font-family: "Times New Roman";
            letter-spacing: 2px;
            color: rgba(11, 119, 50, 0.9);


        }

        /* .layui-fluid {
             height: 507px;
         }*/

    </style>
</head><!--layadmin-side-shrink-->
<body id="LAY_app" class="">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect>
                <a href="javascript:;" layadmin-event="flexible" title="菜单伸缩">
                    <i class="layui-icon layui-icon-shrink-right " id="LAY_app_flexible"></i>
                </a>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" id="time">
                <a>
                </a>

            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <!-- 侧边菜单 -->
    <div class="layui-side layui-side-menu">

        <div class="layui-side-scroll">

            <div id="img">
                <div><!--<img src="../../../static/images/defaultl.png" alt="">-->
                    <img src="http://t.cn/RCzsdCq" alt="">
                </div>
                <div class="welcome"><span>欢迎使用金桥学员跟踪系统</span></div>
            </div>
            <div class="layui-logo" lay-href="" id="logo">
                <i class="layui-icon layui-icon-home home"></i>
            </div>

            <!--右侧侧边栏-->
            <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                lay-filter="layadmin-system-side-menu">

            </ul>
        </div>
    </div>

    <div class="layui-body">


        <div class="layadmin-tabsbody-item layui-show">
            <div class="layui-card layadmin-header">
                <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
                    <a lay-href="">主页</a><span lay-separator="">/</span>
                    <a><cite>用户</cite></a><span lay-separator="">/</span>
                    <a><cite>后台管理员</cite></a>
                </div>
            </div>
            <div class="layui-fluid">
                <div class="layui-card">
                    <div class="layui-card-body">

                        <iframe src="/goteacher" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="layui-footer">
        &lt;!&ndash; 底部固定区域 &ndash;&gt;
        © layui.com - 底部固定区域
    </div>-->
</div>

<script src="../../../static/layui/layui.js"></script>

<script>
    layui.use('useradmin', layui.factory('useradmin')).use(['admin', 'useradmin', 'table'], function () {
        var $ = layui.$
            , admin = layui.admin
            , view = layui.view
            , table = layui.table
            , form = layui.form;

        form.render(null, 'layadmin-useradmin-formlist');

        //监听搜索
        form.on('submit(LAY-user-back-search)', function (data) {
            var field = data.field;

            //执行重载
            table.reload('LAY-user-back-manage', {
                where: field
            });
        });

        //事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('LAY-user-back-manage')
                    , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }

                layer.prompt({
                    formType: 1
                    , title: '敏感操作，请验证口令'
                }, function (value, index) {
                    layer.close(index);

                    layer.confirm('确定删除吗？', function (index) {

                        //执行 Ajax 后重载
                        /*
                        admin.req({
                          url: 'xxx'
                          //,……
                        });
                        */
                        table.reload('LAY-user-back-manage');
                        layer.msg('已删除');
                    });
                });
            }
            , add: function () {
                admin.popup({
                    title: '添加管理员'
                    , area: ['420px', '450px']
                    , id: 'LAY-popup-useradmin-add'
                    , success: function (layero, index) {
                        view(this.id).render('user/administrators/adminform').done(function () {
                            form.render(null, 'layuiadmin-form-admin');

                            //监听提交
                            form.on('submit(LAY-user-back-submit)', function (data) {
                                var field = data.field; //获取提交的字段

                                //提交 Ajax 成功后，关闭当前弹层并重载表格
                                //$.ajax({});
                                layui.table.reload('LAY-user-back-manage'); //重载表格
                                layer.close(index); //执行关闭
                            });
                        });
                    }
                });
            }
        }
        $('.layui-btn.layuiadmin-btn-admin').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
<script>
    var width = $('.layui-card-body').css('width');
    var height = $('.layui-show').css('height');
    $('iframe').css('width', width);
    $('iframe').css('height', height);
    $($('#parent').contents()[0].body).css('width', width);
    $($('#parent').contents()[0].body).css('height', height);

    function getTime() {
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        if (month < 10) {
            month = '0' + month;
        }
        var day = date.getDate();
        if (day < 10) {
            day = '0' + day;
        }
        var hours = date.getHours();
        if (hours < 10) {
            hours = '0' + hours;
        }
        var minutes = date.getMinutes();
        if (minutes < 10) {
            minutes = '0' + minutes;
        }
        var seconds = date.getSeconds();
        if (seconds < 10) {
            seconds = '0' + seconds;
        }
        var str = year + '/' + month + '/' + day + ' ' + hours + ':' + minutes + ':' + seconds;
        $('#time a').html(str)
    }

    getTime()


    $(function () {

        setInterval(getTime, 1000);

        $('#LAY_app_flexible').click(function () {
            $('#LAY_app').toggleClass('layadmin-side-shrink');
            $('.home').toggleClass('home-actice');

            if ($('.layadmin-side-shrink').length == 0) {
                $(this).removeClass('layui-icon-spread-left').addClass('layui-icon-shrink-right');
                $('#img').show()
                $('#logo').hide()
            } else {
                $(this).removeClass('layui-icon-shrink-right').addClass('layui-icon-spread-left');
                $('#img').hide()
                $('#logo').show()
            }
        })


        layui.use(['element', 'table'], function () {
            var element = layui.element;
            var table = layui.table;

        });

        $('.hoverevent').hover(function () {
            $('.hoverevent').removeClass('hover-bgcolor').removeClass('font-color1')
            $(this).addClass('hover-bgcolor')
            $(this).children().addClass('font-color1');

        }, function () {
            $(this).removeClass('hover-bgcolor')
            $(this).children().removeClass('font-color1');
        })


        $('.unhover>a').click(function () {
            var mythis = this;
            $(this).toggleClass('unhover .hover-noChange');
            $(this).off("mouseout").off("mouseover").off("mousemove").off("mouseleave");
        })

        $('#LAY_app_flexible').click(function () {
            var width = $('.layui-card-body').css('width');
            var height = $('.layui-show').css('height');
            $('iframe').css('width', width);
            $('iframe').css('height', height);
            $($('#parent').contents()[0].body).css('width', width);
            $($('#parent').contents()[0].body).css('height', height);
            console.log(document)
        })


    })

</script>
</body>
</html>