<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师管理</title>
    <script src="../../../static/layui/layui.js" charset="utf-8"></script>
    <script src="../../../static/js/jquery3.3.1.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../../static/layui/css/layui.css">
    <style>


        .contain {
            /* width: 896px;*/
            /* height: 500px;*/
            position: relative;
        }


        #main {
            margin-top: 15px;
            /* width: 896px;*/
        }

        .marginl {
            margin-left: 15px;
        }

        .border {
            border-radius: 10px;
        }

        .opera {
            margin-left: 56px;
        }

        .layui-table-fixed .layui-table-body {
            height: auto !important;
        }

        .layui-table-fixed.layui-hide {
            display: block !important;
        }


    </style>
</head>
<body>

<div class="contain">
    <div id="main">
        <div class="opera">
            <div class="demoTable" style="width: 780px">
                <div class="opera">
                    <div class="layui-inline">
                        <input class="layui-input border" name="condition" id="search"
                               placeholder="请输入姓名" autocomplete="off">
                    </div>
                    <div class="layui-inline marginl">
                        <button class="layui-btn layui-btn-radius layui-btn-normal"
                                data-type="search">
                            &nbsp;搜&nbsp;索&nbsp;<i class="layui-icon">&#xe615;</i></button>
                    </div>
                    <div class="layui-inline marginl">
                        <button class="layui-btn layui-btn-radius layui-btn-normal"
                                data-type="addteacher">
                            &nbsp;添加教师信息&nbsp;<i class="layui-icon">&#xe624;</i></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="table-contain">
            <table class="layui-hide " id="tealist" lay-filter="teacher"></table>

        </div>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
            class="layui-icon layui-icon-edit"></i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
            class="layui-icon layui-icon-delete"></i>删除</a>
</script>

<script>


    layui.use(['table', 'layer'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.jquery;

        var width = '';
        var height = '';

        //方法级渲染
        table.render({
            elem: '#tealist'
            , url: '/listteacher'

            , cols: [[
                {title: '序号', align: 'center', type: 'numbers', width: 90}
                , {field: 'teacherId', width: 0, hide: 'true'}
                , {field: 'tname', title: '姓名'}
                , {field: 'sex', title: '性别', width: 90}
                , {field: 'birthday', title: '出生年月'}
                , {field: 'phone', title: '联系电话'}
                , {field: 'idCard', title: '身份证号'}
                , {title: '操作', toolbar: '#barDemo', width: 157, align: 'center'}
            ]]
            , id: 'testReload'
            , page: true
            , height: 425
            , limit: 5
            , limits: [3, 5, 10, 15]
            , done: function (res, curr, count) {
                $('.layui-table').css("width", "100%");
                $("th[data-field='bar']").css("border-right", 'none');
            }
            /*  , done: function () {
                  width = $('body').css('width');
                  height = parseFloat($('body').css('height')) + 250 + 'px';

                  /!*修改表格宽度*!/
                  /!* var width = $('.layui-table-box').css('width');
                   $('.layui-table').css('width', width);
                   /!*表头和内容错开，添加补丁*!/
                   var height = $('.layui-table-body').css('height');
                   var length = $('.layui-table-body table tbody tr').length;
                   var totalheight = 39 * length;
                   var str = '<th class="layui-table-patch"><div class="layui-table-cell" style="width: 12px;"></div></th>';
                   if (totalheight > height) {
                       $('.layui-table').append(str)
                   }*!/

              }*/
        });

        var $ = layui.$, active = {
            reload: function () {
                var condition = $('#search').val();

                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        'condition': condition
                    }

                }, 'data');
            }
        };
        active = {
            //搜索
            search: function () {
                var condition = $('#search').val();

                table.reload('testReload', {

                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        'condition': condition
                    }
                }, 'data');


            },

            addteacher: function () {

                location.href = '/addteacher';
            }
        };

        //监听行工具事件
        table.on('tool(teacher)', function (obj) {
            var data = obj.data;
            var id = data.teacherId;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url: "/delteacher",
                        type: 'post',
                        dataType: 'json',
                        data: {
                            'id': id,
                        },
                        success: function (data) {
                            if (data.flag) {
                                layer.msg("教师信息删除成功..");
                                setTimeout(' location.reload()', 500)
                            } else {
                                layer.msg("教师信息删除失败，稍后再试..");
                            }

                        }
                    })

                    layer.close(index);

                });
            } else if (obj.event === 'edit') {

                location.href = '/udtteacher/' + id;
            }
        });


        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>

</body>
</html>