
.layui-side-menu {
    background-color: #8E8E8E;
    color: cornflowerblue;
}

.layui-header {
    /*  z-index: 1111111;*/
    height: 60px;
}

.layui-layout-admin .layui-header .layui-logo {
    color: black;
    background-color: white;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 1);
}

.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-this > a:hover {
    background-color: #4CABEB;
    color: black;
}

.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this {
    background-color: #4CABEB;
    /* color: #fff; */
}

.layui-nav-tree .layui-nav-bar {
    width: 5px;
    height: 0;
    background-color: #4CABEB;
}

.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 5px;
    background-color: #4CABEB;
    transition: all .2s;
    -webkit-transition: all .2s;
}

.layui-nav-itemed > .layui-nav-child {
    display: block;
    padding: 0;
    background-color: #e5e5e5 !important;
}

.layui-nav-tree .layui-nav-child a {
    color: #007DDB;
}

.layui-this {
    background-color: #4CABEB;
    color: #FFFFFF;
}

.layui-nav-itemed > a {
    background-color: #8E8E8E;
    color: #FFFFFF;
}

.layui-nav-tree .layui-nav-child, .layui-nav-tree .layui-nav-child a:hover {
    color: black;
}

.layui-logo {
    position: relative;
}

.home {
    position: absolute;
    left: 18px;
    top: 0px;
    display: block;
}

.home-actice {

    display: none;
}

.layui-layout-admin .layui-logo {
    background-color: #8E8E8E;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, .15);
}

.font-color {
    color: #333333;
}

.hover-bgcolor {
    background-color: #4CABEB;
}
.unhover .hover-noChange{
    background-color: #8E8E8E;
    color: #FFFFFF;
}


.font-color1 {
    color: #FFFFFF;
}

.layui-nav-itemed > a {
    background-color: #8E8E8E;
    color: #FFFFFF;
}


